In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 14.1+ KB

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.drop('User ID', axis = 1, inplace=True)

In [6]:
df.head(1)

  Gender  Age  EstimatedSalary  Purchased
0   Male   19            19000          0

In [7]:
Gender = pd.get_dummies(df['Gender'], drop_first=True)

In [8]:
df = pd.concat([df, Gender], axis = 1)

In [9]:
df.head()

   Gender  Age  EstimatedSalary  Purchased  Male
0    Male   19            19000          0     1
1    Male   35            20000          0     1
2  Female   26            43000          0     0
3  Female   27            57000          0     0
4    Male   19            76000          0     1

In [10]:
df.drop('Gender', axis = 1, inplace=True)

In [11]:
df.head()

   Age  EstimatedSalary  Purchased  Male
0   19            19000          0     1
1   35            20000          0     1
2   26            43000          0     0
3   27            57000          0     0
4   19            76000          0     1

In [12]:
df.corr()

                      Age  EstimatedSalary  Purchased      Male
Age              1.000000         0.155238   0.622454 -0.073741
EstimatedSalary  0.155238         1.000000   0.362083 -0.060435
Purchased        0.622454         0.362083   1.000000 -0.042469
Male            -0.073741        -0.060435  -0.042469  1.000000

In [13]:
df['Purchased'].unique()

array([0, 1], dtype=int64)

In [14]:
df.drop('Male', axis = 1, inplace=True)

In [15]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
ss = StandardScaler()

In [19]:
scaled_array = ss.fit_transform(df.drop('Purchased', axis = 1))

In [22]:
Y = df['Purchased']

In [23]:
X = pd.DataFrame(scaled_array, columns=df.columns[:-1])

In [24]:
X.head(2)

        Age  EstimatedSalary
0 -1.781797        -1.490046
1 -0.253587        -1.460681

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3)

In [27]:
X_train.shape

(280, 2)

In [28]:
X_test.shape

(120, 2)

In [29]:
Y_train.shape

(280,)

In [30]:
Y_test.shape

(120,)

In [31]:
from sklearn.naive_bayes import GaussianNB

In [32]:
model = GaussianNB()

In [33]:
model.fit(X_train, Y_train)

GaussianNB(priors=None)

In [34]:
Y_pred = model.predict(X_test)

In [35]:
Y_pred.shape

(120,)

In [36]:
from sklearn.metrics import confusion_matrix

In [38]:
confusion_matrix(Y_test, Y_pred)

array([[76,  6],
       [ 6, 32]], dtype=int64)

In [40]:
# Accuracy
(72 + 32) / 120

0.8666666666666667